<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
  <style>
    h1{
      font-size: 32px;
      text-align: center;
    }
    .container{
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100vh;
    }
    .button-container{
      margin-top: 50px;
    }
    .btn{
      font-size: 24px;
      margin-right: 10px;
      margin-bottom: 10px;
    }
  </style>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

<div class="container">
  <h1>Welcome to Trash2Trash </h1>
  <div class="button-container">
  <a href="/login" class="btn btn-primary btn-lg">Login</a>
  <a href="register"class="btn btn-primary btn-lg">Register</a>
  <a href="employee-login"class="btn btn-primary btn-lg">Employee Login</a>

</div>
  </div>

</body>
</html>